<%= form_for :session, role: "form", html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.label t("attributes.email") %>
    <%= f.text_field :email, placeholder: t("forms.placeholders.email"), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("attributes.password") %>
    <%= f.password_field :password, placeholder: t("forms.placeholders.password"), class: "form-control" %>
  </div>

  <%= f.submit t("links.login"), class: "btn btn-default" %>
<% end %>

<div class="row col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
  <div class="col-xs-12 col-sm-6">
    <%= link_to "/auth/github", class: "btn btn-default" do %>
      <i class="fa fa-github-alt"></i> <%= t("links.login-github") %>
    <% end %>
  </div>

  <div class="col-xs-12 col-sm-6">
    <%= link_to "/auth/google_oauth2", class: "btn btn-default" do %>
      <i class="fa fa-google-plus"></i> <%= t("links.login-google") %>
    <% end %>
  </div>
</div>
