<%= form_for :session, role: "form", html: { class: "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.label t("attributes.email") %>
    <%= f.text_field :email, placeholder: t("forms.placeholders.email"), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t("attributes.password") %>
    <%= f.password_field :password, placeholder: t("forms.placeholders.password"), class: "form-control" %>
  </div>

  <%= f.submit t("links.login"), class: "btn btn-default" %>
<% end %>

<%= link_to t("links.login-github"), "/auth/github" %>
<%= link_to t("links.login-google"), "/auth/google_oauth2" %>
