<p>
  <strong><%= t("attributes.name") %></strong>
  <%= @cohort.name %>
</p>

<p>
  <strong><%= t("attributes.classroom_start_date") %></strong>
  <%= @cohort.classroom_start_date %>
</p>

<p>
  <strong><%= t("attributes.classroom_end_date") %></strong>
  <%= @cohort.classroom_end_date %>
</p>

<p>
  <strong><%= t("attributes.internship_start_date") %></strong>
  <%= @cohort.internship_start_date %>
</p>

<p>
  <strong><%= t("attributes.internship_end_date") %></strong>
  <%= @cohort.internship_end_date %>
</p>

<p>
  <strong><%= t("attributes.google_calendar_id") %></strong>
  <%= @cohort.google_calendar_id %>
</p>

<%= link_to t("links.resources.edit"), edit_cohort_path(@cohort) %> |
<%= link_to t("links.back"), cohorts_path %>
