<%= form_for :user, url: session[:oauth] ? users_path : "./", method: @user.id ? "put" : "post" do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t("attributes.name") %><br>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label t("attributes.email") %><br>
    <%= f.text_area :email %>
  </div>

  <div class="field">
    <%= f.label t("attributes.github") %><br>
    <%= f.text_area :github %>
  </div>

  <% if @admin %>
    <div class="field">
      <%= f.label t("attributes.type") %><br>
      <%= f.text_area :type %>
    </div>
    <%= render 'shared/any_user_categories', :form_name => :user, f: f %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
