<section class="col-md-10 col-md-offset-1">
  <h1>
    <%= t("headings.all", plural_model_name: t("resources.note").pluralize) %>
    <small><%= link_to t("links.resources.create", model_name: t("resources.note")), new_note_path %></small>
  </h1>

  <div class="row">
  <% @notes.each_with_index do |note, index| %>
    <% if index % 3 == 0 %></div><div class="row"><% end %>
    <div class="item col-sm-4 col-xs-12">
      <div class="action-links col-sm-8 col-sm-offset-2 col-xs-12">
        <h4><%= t("resources.actions") %></h4>
        <%= link_to t("links.resources.show"), note %>
        <%= link_to t("links.resources.edit"), edit_note_path(note) %>
        <%= link_to t("links.resources.delete"), note, method: :delete, data: { confirm: t("confirmations.delete") } %>
      </div>
      <div class="attributes">
        <div class="attribute-name col-xs-12"><%= t("attributes.title") %></div>
        <div class="attribute-value col-xs-12"><%= link_to note.note, note %></div>
      </div>
    </div>
  <% end %>
  </div>
</section>



<h1><%= t("headings.all", plural_model_name: t("resources.user").pluralize) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("attributes.name") %></th>
      <th><%= t("attributes.email") %></th>
      <th><%= t("attributes.github") %></th>
      <th><%= t("attributes.type") %></th>
      <th><%= t("attributes.password_digest") %></th>
      <th colspan="3"><%= t("attributes.title") %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user) %></td>
        <td><%= link_to user.email, user_path(user) %></td>
        <td><%= link_to user.github, user_path(user) %></td>
        <td><%= link_to user.type, user_path(user) %></td>
        <td><%= link_to user.password_digest, user_path(user) %></td>
        <td><%= link_to t("links.resources.show"), user_path(user) %></td>
        <td><%= link_to t("links.resources.edit"), edit_user_path(user) %></td>
        <td><%= link_to t("links.resources.delete"), user_path(user), method: :delete, data: { confirm: t("confirmations.delete") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("links.resources.create", model_name: t("resources.user")), new_user_path %>
