<ul>
  <li>
    <strong><%= t("attributes.id") %></strong><br />
    <%= @user.id %>
  </li>
  <li>
    <strong><%= t("attributes.name") %></strong><br />
    <%= @user.name %>
  </li>
  <li>
    <strong><%= t("attributes.email") %></strong><br />
    <%= @user.email %>
  </li>
  <li>
    <strong><%= t("attributes.github") %></strong><br />
    <%= link_to @user.github, "http://github.com/#{ @user.github }" %>
  </li>
  <li>
    <strong><%= t("attributes.type") %></strong><br />
    <%= @user.type %>
  </li>
  <li>
    <strong><%= t("attributes.password_digest") %></strong><br />
    <%= @user.password_digest %>
  </li>
  <li>
    <strong><%= t("attributes.created_at") %></strong><br />
    <%= @user.created_at %>
  </li>
  <li>
    <strong><%= t("attributes.updated_at") %></strong><br />
    <%= @user.updated_at %>
  </li>
</ul>

<% unless @user.categories.empty? %>
  <h3>categories secretly attached to user:</h3>
  <ul>
    <% @user.categories.each do |cat| %>
      <li><%= cat.name %></li>
    <% end %>
  </ul>
<% end %>

<% unless @user.notes.empty? %>
  <h3>notes secretly attached to this user:</h3>
  <ul>
    <% @user.notes.each do |note| %>
      <li><%= note.note %></li>
      <% unless note.categories.empty? %>
        <ul>
          <h3>categories attached to this note:</h3>
          <% note.categories.each do |cat| %>
            <li><%= cat.name %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% unless @user.guest_lectures.empty? %>
  <h3>guest lecture proposals from this user:</h3>
  <ul>
    <% @user.guest_lectures.each do |lecture| %>
      <li>title: <%= lecture.title %> | description: <%= lecture.description || "no description provided" %></li>
      <% unless lecture.categories.empty? %>
        <ul>
          <h3>categories attached to this lecture:</h3>
          <% lecture.categories.each do |cat| %>
            <li><%= cat.name %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= link_to t("links.resources.edit"), edit_user_path(@user) %> |
<%= link_to t("links.back"), users_path %>
