<div class="row">
  <div class="form-group col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <%= f.label t("forms.categories") %><br />
    <% Category.any_user.each do |cat| %>
      <label class="checkbox-inline">
      <%= check_box_tag :category_ids,
                         cat.id,
                         @note.categories.include?(cat),
                         name: "note[category_ids][]" %>
      <%= cat.name %>
      </label>
    <% end %>
  </div>

  <div class="form-group col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <%= f.label t("forms.admin_only_categories") %><br />
    <% Category.admin.each do |cat| %>
      <label class="checkbox-inline">
      <%= check_box_tag :category_ids,
                         cat.id,
                         @note.categories.include?(cat),
                         name: "note[category_ids][]" %>
      <%= cat.name %>
      </label>
    <% end %>
  </div>
</div>
