<section class="col-md-10 col-md-offset-1">
  <h1>
    <%= t("headings.all", plural_model_name: t("resources.event").pluralize) %>
    <small><%= link_to t("links.resources.create", model_name: t("resources.event")), new_calendar_event_path %></small>
  </h1>

  <div class="row">
  <% @events.each_with_index do |event, index| %>
    <% if index % 3 == 0 %></div><div class="row"><% end %>
    <div class="item col-sm-4 col-xs-12">
      <div class="action-links col-sm-8 col-sm-offset-2 col-xs-12">
        <h4><%= t("resources.actions") %></h4>
        <%= link_to t("links.resources.show"), calendar_event_path(@calendar, event) %>
        <%= link_to t("links.resources.edit"), edit_calendar_event_path(@calendar, event) %>
        <%= link_to t("links.resources.delete"), calendar_event_path(@calendar, event), method: :delete, data: { confirm: t("confirmations.delete") } %>
      </div>
      <div class="attributes">
        <div class="attribute-name col-xs-12"><%= t("attributes.title") %></div>
        <div class="attribute-value col-xs-12"><%= link_to event.title, calendar_event_path(@calendar, event) %></div>
      </div>
      <div class="attributes">
        <div class="attribute-name col-xs-12"><%= t("attributes.start_time") %></div>
        <div class="attribute-value col-xs-12"><%= event.start_time.strftime("%a, %b %d, %Y") %></div>
      </div>
    </div>
  <% end %>
  </div>
</section>
