<div class="panel panel-default">
  <div class="panel-heading collapsed" role="tab" id="heading-notifications"
    role="button" href="#collapse-notifications"
    data-toggle="collapse" data-parent="#accordion"
    aria-expanded="false" aria-controls="collapse-notifications">
      <h1 class="panel-title">
        <%= t("headings.notifications.event") %>
        <span class="badge"><%= events.count %></span>
      </h1>
  </div>

  <div id="collapse-notifications" class="panel-collapse collapse"
    role="tabpanel" aria-labelledby="heading-notifications">

    <section id="event-notifications" class="panel-body">

      <% if events.nil? || events.empty? %>

        <div class="well"><%= t("notifications.no_events") %></div>

      <% else %>

        <% events.each_with_index do |event, index| %>
          <div class="item col-xs-12">

            <div class="action-links col-xs-12">
              <%= event.start_time.strftime("%a, %b %e") %>
            </div>

            <div class="col-xs-12">
              <%= event.start_time.strftime("%l:%M %p") %> -
              <%= event.end_time.strftime("%l:%M %p") %><br />
              <%= link_to event.title, user_path(event.user) %><br />

              <%= link_to t("actions.reject"),
                calendar_event_path(event.calendar_id, event),
                method: "delete",
                data: { confirm: t("actions.confirmations.delete") }
              %>

              <i class="space fa fa-bolt"></i>

              <%= link_to t("actions.approve"),
                calendar_event_approve_path(event.calendar_id, event),
                method: "patch"
              %>
            </div>

          </div>

        <% end %>

      <% end %>

    </section>

  </div>
</div>
