<section class="col-md-12">
    <div class="row">
      <h1 class="col-sm-6 col-xs-12">
        <%= t("resources.calendar_with_name", name: @calendar.name) %>
      </h1>
      <h1 class="col-sm-6 hidden-xs">
        <%= t("headings.all", plural_model_name: t("resources.users.student")) %>
      </h1>
    </div>
    <div class="calendar col-sm-6 col-xs-12">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div class="event"></div>
        <% end %>
      <% end %>
      <h3>
        <small><%= link_to t("links.resources.create", model_name: t("resources.event")), new_event_path %></small>
      </h3>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%= render partial: 'users', locals: { users: @students, type: "student" } %>
    </div>
</section>
