<section class="col-md-12">
  <div class="row">
    <h1 class="col-sm-6 col-xs-12">
      <%= t("resources.calendar_with_name", name: @calendar.name) %>
    </h1>
  </div>

  <div class="calendar col-sm-6 col-xs-12">

    <%= month_calendar events: @events, pendings: @pending_events do |date, events, pendings| %>
      <%= date.day %>

      <% events.each do |event| %>
        <% if event.approved %>
          <div class="event"></div>
        <% else %>
          <div class="pending"></div>
        <% end %>
      <% end %>
    <% end %>

    <div id="legend" class="row"></div>

    <p class="visible-xs"></p>
    <p class="delete-after-presentation"></p>
    <p class="delete-after-presentation"></p>
  </div>

  <div class="col-sm-6 col-xs-12">
    <div class="panel-group" id="accordion" role="tablist">
      <% if @calendar.curriculum_href %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">
                <% if @calendar.curriculum_href.include? "github" %>
                  <i class="fa fa-github"></i>
                <% elsif @calendar.curriculum_href.include? "google" %>
                  <i class="fa fa-google-plus"></i>
                <% end %>
                <%= link_to t("attributes.curriculum_href"), @calendar.curriculum_href %>
              </h1>
            </div>
          </div>
      <% end %>


      <% if @admin %>
        <%= render partial: 'new_admin_event' %>
      <% else %>
        <%= render partial: 'new_ta_event' %>
      <% end %>

      <% if @admin %>
        <%= render partial: 'pending_events', locals: { events: @pending_events } %>
        <%= render partial: 'users', locals: { users: @volunteers, type: "volunteer" } %>
      <% end %>

      <%= render partial: 'users', locals: { users: @students, type: "student" } %>
    </div>
  </div>
</section>
