<section class="col-md-12">
    <div class="row">
      <h1 class="col-sm-6 col-xs-12">
        <%= t("resources.calendar_with_name", name: @calendar.name) %>
      </h1>
      <h1 class="col-sm-6 hidden-xs">
        <%= t("headings.all", plural_model_name: t("resources.users.student")) %>
      </h1>
    </div>
    <div class="calendar col-sm-6 col-xs-12">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <div class="event"></div>
        <% end %>
      <% end %>
      <p>
        <% if @admin %>
          <%= link_to t("links.resources.create", model_name: t("resources.event")), new_calendar_event_path(@calendar) %>
        <% else %>
          <%= link_to t("links.request_shift"), new_calendar_event_path(@calendar) %>
        <% end %>
      </p>
      <% if @calendar.curriculum_href %>
        <h4><%= link_to t("attributes.curriculum_href"), @calendar.curriculum_href %></h4>
      <% end %>
    </div>

    <div class="col-sm-6 col-xs-12">
      <%= render partial: 'users', locals: { users: @students, type: "student" } %>
    </div>
</section>
