<section class="col-md-10 col-md-offset-1">
  <h1>
    <%= t("headings.all", plural_model_name: t("resources.broadcast").pluralize) %>
    <small><%= link_to t("links.resources.create", model_name: t("resources.broadcast")), new_broadcast_path %></small>
  </h1>

  <div class="row">
  <% @broadcasts.each_with_index do |broadcast, index| %>
    <% if index % 3 == 0 %></div><div class="row"><% end %>
    <div class="item col-sm-4 col-xs-12">
      <div class="row">
        <div class="action-links col-sm-8 col-sm-offset-2 col-xs-12">
          <h4><%= t("resources.actions") %></h4>
          <%= link_to t("links.resources.show"), broadcast %>
          <%= link_to t("links.resources.edit"), edit_broadcast_path(broadcast) %>
          <%= link_to t("links.resources.delete"), broadcast, method: :delete, data: { confirm: t("confirmations.delete") } %>
        </div>
      </div>
      <div class="broadcast<%= " inactive" unless broadcast.active %>">
        <h4 class="title">
          <%= broadcast.title %>
        </h4>
        <% unless broadcast.active %>
          <span class="inactive">inactive</span>
        <% end %>
        <%= broadcast.description %>
      </div>
    </div>
  <% end %>
  </div>
</section>
