<h1><%= t("headings.all", plural_model_name: t("resources.guest_lecture").pluralize) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t("attributes.user_id") %></th>
      <th><%= t("attributes.title") %></th>
      <th><%= t("attributes.description") %></th>
      <th colspan="3"><%= t("resources.actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @guest_lectures.each do |guest_lecture| %>
      <tr>
        <td><%= guest_lecture.user_id %></td>
        <td><%= guest_lecture.title %></td>
        <td><%= guest_lecture.description{500} %></td>
        <td><%= link_to t("links.resources.show"), guest_lecture %></td>
        <td><%= link_to t("links.resources.edit"), edit_guest_lecture_path(guest_lecture) %></td>
        <td><%= link_to t("links.resources.delete"), guest_lecture, method: :delete, data: { confirm: t("confirmations.delete") } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("links.resources.create", model_name: t("resources.guest_lecture")), new_guest_lecture_path %>
