<!DOCTYPE html>
<html>
<head>
  <title>Organize (Jeri's Capstone)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main class=<%= yield :styles %>>
    <%= yield %>
  </main>
</body>
</html>
