<!DOCTYPE html>
<html>
<head>
  <title><%= t("site.name") + t("site.separator") + t("site.subtitle") %></title>
  <meta name="description" content="Ada Developers Academy is an intensive software development training program for women in Seattle." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div class="container-fluid">
    <nav class="nav navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li></li>
        <li><%= link_to t("links.home"), root_path %></li>
        <% if @admin %>
          <%# begin admin links %>
          <li><%= link_to t("links.admin.calendar"), calendars_path %></li>
          <li><%= link_to t("links.admin.broadcast"), broadcasts_path %></li>
          <li><%= link_to t("links.admin.category"), categories_path %></li>
          <li><%= link_to t("links.admin.guest_lecture"), guest_lectures_path %></li>
          <li><%= link_to t("links.admin.note"), notes_path %></li>
          <li><%= link_to t("links.admin.user"), users_path %></li>
          <%# end admin links %>
        <% elsif @logged_in_user %>
          <%# begin logged in user links %>
          <!-- <li><%= link_to t("links.guest_lecture"), guest_lectures_path %></li> -->
          <li><%= link_to t("links.calendar"), calendars_path %></li>
          <li><%= link_to t("links.profile"), user_path(@logged_in_user) %></li>
          <li><%= link_to t("links.settings"), edit_user_path(@logged_in_user) %></li>
          <%# end logged in user links %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @logged_in_user %>
          <li><%= link_to t("links.logout"), logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t("links.login"), login_path %></li>
        <% end %>
        <li></li>
      </ul>
    </nav>

    <div id="spacer"></div>

    <% if @available_broadcast %>
      <div id="broadcast" class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @available_broadcast[:title] %></h3>
        </div>
        <div class="panel-body">
          <%= @available_broadcast[:description] %>
          <%= link_to "https://twitter.com/intent/tweet?text=#{
            @available_broadcast[:title] }#{ t("site.separator") }#{
            @available_broadcast[:description] }",
            id: "twitter" do %>
            <i class="fa fa-twitter"></i> <%= t("actions.tweet") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if flash[:error] || flash[:success] %>
      <div id="flash" class="well well-sm">
        <%= flash[:error] if flash[:error] %>
        <%= flash[:success] if flash[:success] %>
      </div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </div>
</body>
</html>
